<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %> 
    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(p => { %>
                    <li class="cart_item">
                        <h1><%= p.title %></h1> 
                        <h2>Quantity: (<%= p.cartitem.quantity %>)</h   2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.id %>" name="productId">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>   
            </ul>
            <hr> 
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now..!!</button>
            </form>
        <% } else { %>
            <h1>No Products in Cart..!!! </h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>